<div class="about-holder">
    <div class="about-title">
        <h1>about me</h1>
    </div>

    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, alias facilis eius soluta natus aperiam nobis
            exercitationem dignissimos rem labore mollitia doloribus amet iusto adipisci, qui suscipit animi? Obcaecati,
            aut.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, alias facilis eius soluta natus aperiam nobis
            exercitationem dignissimos rem labore mollitia doloribus amet iusto adipisci, qui suscipit animi? Obcaecati,
            aut.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, alias facilis eius soluta natus aperiam nobis
            exercitationem dignissimos rem labore mollitia doloribus amet iusto adipisci, qui suscipit animi? Obcaecati,
            aut.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, alias facilis eius soluta natus aperiam nobis
            exercitationem dignissimos rem labore mollitia doloribus amet iusto adipisci, qui suscipit animi? Obcaecati,
            aut.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, alias facilis eius soluta natus aperiam nobis
            exercitationem dignissimos rem labore mollitia doloribus amet iusto adipisci, qui suscipit animi? Obcaecati,
            aut.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, alias facilis eius soluta natus aperiam nobis
            exercitationem dignissimos rem labore mollitia doloribus amet iusto adipisci, qui suscipit animi? Obcaecati,
            aut.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, alias facilis eius soluta natus aperiam nobis
            exercitationem dignissimos rem labore mollitia doloribus amet iusto adipisci, qui suscipit animi? Obcaecati,
            aut.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, alias facilis eius soluta natus aperiam nobis
            exercitationem dignissimos rem labore mollitia doloribus amet iusto adipisci, qui suscipit animi? Obcaecati,
            aut.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, alias facilis eius soluta natus aperiam nobis
            exercitationem dignissimos rem labore mollitia doloribus amet iusto adipisci, qui suscipit animi? Obcaecati,
            aut.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, alias facilis eius soluta natus aperiam nobis
            exercitationem dignissimos rem labore mollitia doloribus amet iusto adipisci, qui suscipit animi? Obcaecati,
            aut.</p>
    </div>

</div>