<div class="about-holder">
    <div class="about-title">
        <h1>about me</h1>
    </div>

    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt vel necessitatibus maiores,
            provident exercitationem illo culpa saepe beatae deserunt</p>
    </div>

</div>