.about-holder {
    position: relative;
    color: white;
    padding: 20px;
    background-color: #161413;

    .about-title {
        margin: 0 40px;
        h1 {
            font-size: 50px;
            text-shadow: #49465D 8px 8px 8px;
        }
        margin-bottom: 20px;
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
}