.about-holder {
    position: relative;
    color: white;
    padding: 20px;
    background-color: #161413;

    .about-title {
        margin: 20px;

        h1 {
            font-size: 50px;
            text-shadow: #49465D 8px 8px 8px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px;
        word-break: break-word;
        text-align: justify;
    }
}