html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, .9);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: 'butterfly';
  src: url('../assets/butterfly.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'caesarDressing';
  src: url('../assets/caesarDressing.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'cairoVariable';
  src: url('../assets/cairoVariable.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'chelseaMarket';
  src: url('../assets/chelseaMarket.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'comingSoon';
  src: url('../assets/comingSoon.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'constantine';
  src: url('../assets/constantine.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'craftyGirls';
  src: url('../assets/craftyGirls.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'dacianDonarium';
  src: url('../assets/dacianDonarium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'decoratedRomanInitials';
  src: url('../assets/decoratedRomanInitials.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'frederickat';
  src: url('../assets/frederickat.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'goudy';
  src: url('../assets/goudy.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'homespun';
  src: url('../assets/homespun.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'medusa';
  src: url('../assets/medusa.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'miniver';
  src: url('../assets/miniver.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'mountains';
  src: url('../assets/mountains.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'praetoria';
  src: url('../assets/praetoria.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'princessSofia';
  src: url('../assets/princessSofia.ttf');
  font-weight: 500;
  font-style: normal;
}