@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url(~assets/fonts/Poppins-SemiBold.ttf) format("truetype");
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Poppins Regular";
    src: local("Poppins Regular"), url(~assets/fonts/Poppins-Regular.ttf) format("truetype");
    font-display: swap;
    font-style: normal;
}

html {
    font-family: "Poppins";
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #7c3aed #ffffff;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #7c3aed;
    border-radius: 8px;
    border: 3px solid #ffffff;
}

body {
    background-color: #f5f5f5;
    overflow-x: hidden;
}
