@font-face {
    font-family: "Nunito";
    src: local("Nunito"), url(~assets/fonts/Nunito-SemiBold.ttf) format("truetype");
    font-display: swap;
    font-style: normal;
}

html {
    font-family: "Nunito";
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1a29;
}
