.main-header {
    width: 100%;
    height: 100vh;

    position: relative;
    overflow: hidden;

    .banner-image {
        position: absolute;
        filter: brightness(0.45);
        width: 100%;
        height: 100vh;
    }

    .banner-title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}