@font-face {
    font-family: butterfly;
    src: url(assets/fonts/butterfly.ttf) format('truetype');
}

@font-face {
    font-family: caesarDressing;
    src: url(assets/fonts/caesarDressing.ttf) format('truetype');
}

@font-face {
    font-family: cairoVariable;
    src: url(assets/fonts/cairoVariable.ttf) format('truetype');
}

@font-face {
    font-family: chelseaMarket;
    src: url(assets/fonts/chelseaMarket.ttf) format('truetype');
}

@font-face {
    font-family: comingSoon;
    src: url(assets/fonts/comingSoon.ttf) format('truetype');
}

@font-face {
    font-family: constantine;
    src: url(assets/fonts/constantine.ttf) format('truetype');
}

@font-face {
    font-family: craftyGirls;
    src: url(assets/fonts/craftyGirls.ttf) format('truetype');
}

@font-face {
    font-family: dacianDonarium;
    src: url(assets/fonts/dacianDonarium.otf) format('opentype');
}

@font-face {
    font-family: decoratedRomanInitials;
    src: url(assets/fonts/decoratedRomanInitials.ttf) format('truetype');
}

@font-face {
    font-family: frederickat;
    src: url(assets/fonts/frederickat.ttf) format('truetype');
}

@font-face {
    font-family: goudy;
    src: url(assets/fonts/goudy.ttf) format('truetype');
}

@font-face {
    font-family: homespun;
    src: url(assets/fonts/homespun.ttf) format('truetype');
}

@font-face {
    font-family: medusa;
    src: url(assets/fonts/medusa.otf) format('opentype');
}

@font-face {
    font-family: miniver;
    src: url(assets/fonts/miniver.ttf) format('truetype');
}

@font-face {
    font-family: mountains;
    src: url(assets/fonts/mountains.ttf) format('truetype');
}

@font-face {
    font-family: praetoria;
    src: url(assets/fonts/praetoria.otf) format('opentype');
}

@font-face {
    font-family: princessSofia;
    src: url(assets/fonts/princessSofia.ttf) format('truetype');
}